html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: Helvetica, sans-serif;
  min-width: 320px;
  margin: 0;
}
.wrapper {
  max-width: 700px;
  width: 100%;
  padding: 0 20px;
  margin: 100px auto 50px;
}
.form {
  padding: 25px;
  border-radius: 30px;
  background: #763fee;
}
.form__lang-block {
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
}
.form__label {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.form__text {
  display: block;
  width: 100%;
  height: 87%;
  padding: 15px;
  margin-top: 15px;
  border-radius: 15px;
  border: 1px solid #000;
  font-size: 18px;
  outline: none;
  resize: none;
}
.form__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 55px;
  padding: 0;
  margin: 30px auto;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  background: #bababa;
  outline: none;
  cursor: pointer;
  transition: letter-spacing 0.4s linear;
}
.form__btn:hover {
  letter-spacing: 1.8px;
}
.form__btn:after,
.form__btn:before {
  position: absolute;
  content: " ";
  width: 15px;
  height: 15px;
  transition: width 0.5s, height 0.5s linear;
}
.form__btn:after {
  top: 0;
  left: 0;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
}
.form__btn:before {
  bottom: 0;
  right: 0;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}
.form__btn:hover:before,
.form__btn:hover:after {
  width: 100%;
  height: 100%;
}
