html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: Helvetica, sans-serif;
  min-width: 320px;
  margin: 0;
}
.wrapper {
  max-width: 700px;
  width: 100%;
  padding: 0 20px;
  margin: 100px auto 50px;
}
.form {
  padding: 25px;
  border-radius: 30px;
  background: #763fee;
}
.form__lang-block {
  height: 300px;
  padding: 20px;
  border-radius: 20px;
  background: #fff;
}
.form__label {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}
.form__text {
  display: block;
  width: 100%;
  height: 87%;
  padding: 15px;
  margin-top: 15px;
  border-radius: 15px;
  border: 1px solid #000;
  font-size: 18px;
  outline: none;
  resize: none;
}
.form__btn {
  display: block;
  width: 225px;
  height: 55px;
  padding: 0;
  margin: 30px auto;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background: #bababa;
  /* background: #adb2df; */
  outline: none;
  cursor: pointer;
}
